<div class="article">
    <h1> will this template show?</h1>
    <h2>{{ title }}</h2>
    <h4>url segment: {{ urlSegment }}</h4>
    <h4>article type: {{type}}</h4>
    {{formatDate created "short"}}
    <div>
		{{ articleContent }}
    </div>
</div>
