<div class="container">
    <div class="row">
        <div class="col-md-8">
            {{#if isEditing}}
            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="title">Title</label>

                    <div class="controls">
                        {{input type="text" value=title id="title" placeholder="Title"}} Url Segment {{slug}}
                        </input>
                    </div>

                    <div class="controls">
                        <span class="question">{{types.question}}</span>
                        {{radio-group model=controllers.articles.types.choices value=controllers.articles.answer selection=model.type name=controllers.articles.types.name }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="articlemodel">Article model</label>
                    <div class="controls">
                        {{textarea id="articlemodel" value=articleContent cols="30" rows="10" placeholder="Article model"}}
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button class="btn" {{action 'saveEdit'}}>Update</button>
                    </div>
                </div>
            </form>
            {{else}}
            <div class="article">
                <h2>{{ title }}</h2>
                <h4>by {{user.name}}</h4>
                <h4>url segment: {{ urlSegment }}</h4>
                <h4>article type: {{type}}</h4>
                {{formatDate created "short"}}
                <div>
                    {{ articleContent }}
                </div>
                <button class="btn" {{action 'editArticle'}}>Edit</button>
            </div>
            {{/if}}
        </div>
    </div>
</div>
