Index of articles:

	{{#each}}
	    <h2>{{ title }}</h2>
	    <div>
	   {{ content }}         
	    </div>
	{{/each}}
============== 

	{{#each}}
	    <div>{{ title }}</div>
	    <div>by {{ user.name }}</div>
	    <div>on {{formatDate created "short"}}</div>

	    <div>on {{{test title "google"}}}</div>
	{{/each}}
