<section class="container">
    <div class="row">
        {{!
        <div class="offset1 span5">
            <a href="/auth/facebook">
                <img src="/img/icons/facebook.png">
            </a>
            <a href="/auth/github">
                <img src="/img/icons/github.png">
            </a>
            <a href="/auth/twitter">
                <img src="/img/icons/twitter.png">
            </a>
            <a href="/auth/google">
                <img src="/img/icons/google.png">
            </a>
        </div>}}
        <div class="span6">
            <div class="container">
                <div class="page-header">
                    <h3>User Registration</h3>
                </div>

                <form {{action 'signup' on='submit'}}>
                    <div class="form-group">
                        <label for="name">Name</label>
                        {{input id='name' placeholder='Enter name' class='form-control' value=this.name}}
                    </div>
                    <div class="form-group">
                        <label for="username">Username</label>
                        {{input id='username' placeholder='Enter username' class='form-control' value=this.username}}
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        {{input id='email' placeholder='Enter email' type='email' class='form-control' value=this.email}}
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        {{input id='password' placeholder='Enter password' class='form-control' type='password' value=this.password}}
                    </div>
                    <button type="submit" class="btn btn-default">Register</button>&nbsp; or&nbsp;
                    {{#link-to 'login'}}login{{/link-to}}
                </form>
                {{#if errorMessage}}
                    <div class="alert alert-danger">
                        <strong>Login failed:</strong>{{errorMessage}}
                    </div>
                {{/if}}
            </div>

        </div>
    </div>
</section>
