<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class=" panel panel-default">
                <div class="panel-body">
                    {{#if isEditing}}
                        <form class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label" for="name">Title</label>

                            <div class="controls">
                                {{input type="text" value=content.name id="name" placeholder="name"}}                      
                                </input>
                            </div>
                            
                            <div class="controls">
                            {{file-upload url="/photos/upload"}}
                            </div>
                        
                        <div class="control-group">
                            <div class="controls">
                                <button class="btn" {{action 'saveEdit'}}>Save</button>
                            </div>
                        </div>
                        </form>
                    {{else}}
                        <div>
                        {{render "photoViewer" this}}
                            <h2>{{ content.name }}</h2>
                            
                            <button class="btn btn-success" {{action 'downloadPhoto'}}>Download</button>
                            <button class="btn btn-warning" {{action 'editPhoto'}}>Edit</button>
                            <button class="btn btn-danger" {{action 'deletePhoto'}}>Delete</button>
                        </div>
                    {{/if}}                    
                </div>
            </div>
        </div>
    </div>
</div>

    