<div class="container-fluid article-form">
	<form class="form-horizontal">
		<div class="row">
			<h4>Create {{content.type}}</h4>
		</div>
		<div class="row">
			<span class="question">{{controllers.articles.typesRadio.question}}</span>
			 {{radio-group
			     content=controllers.articles.types
			     value=controllers.articles.typesRadio.answer
			     selection=content.type
			     name=controllers.articles.typesRadio.name
			 }}
		 </div>
		 <div class="row">
		 <span>Template: </span>
		 	{{view Ember.Select
		 		content=controllers.articles.templates
		 		value=content.template
       			optionValuePath="content._id"
       			optionLabelPath="content.title" 
       			selection=content.template
			}}
		 </div>
		<div class="row">
			<div class="controls">
					{{input type="text" value=content.title id="title" placeholder="Title"}}
					Url slug: {{content.slug}}				
			</div>
		</div>
		<div class="row">		
			<div class="controls">
				<span class="menuFeatured">Feature in menu</span>
				{{input type="checkbox" name="menuFeatured" checked=content.menuFeatured}}				
			</div>
		</div>
		<div class="row">
			<div class="control-group">
				<div class="controls">
					{{textarea id="articleContent" value=content.articleContent cols="60" rows="20" placeholder="Article Content"}}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="control-group">
				<div class="controls">
					<button class="btn" {{action 'createArticle'}}>Create article</button>
				</div>
			</div>		
		</div>
	</form>
</div>