<div class="container">
    <div class="row">
        <div class="col-md-8">
			<form class="form-horizontal">
				<div class="row">
					<h4>Create Homepage</h4>
				</div>
				 <div class="row">
				 <span>Selected Template: {{homepageTemplate.name}}</span>
				 	{{view Ember.Select
				 		content=controllers.homepages.templates
				 		value=model.homepageTemplate
		       			optionValuePath="content._id"
		       			optionLabelPath="content.name" 
		       			selection=model.homepageTemplate
		       			prompt="Please a select a template"
					}}


				 </div>
				 <div class="row">
					<div class="controls">
							{{input type="text" value=name id="name" placeholder="Title"}}
							Url slug: {{slug}}				
					</div>
				</div>

				<div class="row">
				 		
		{{!-- 			<div class="controls">
						<span class="menuFeatured">Feature in menu</span>
						{{input type="checkbox" name="menuFeatured" checked=menuFeatured}}				
					</div> --}}
					
				</div>
				<div class="row">
					<div class="control-group">
						<div class="controls">
							<button class="btn" {{action 'createHomepage'}}>Create homepage</button>
						</div>
					</div>		
				</div> 
			</form>
		</div>
	</div>
</div>