<h2>Index of templates:</h2>
<div class="template-list">
	<ul>
	{{#each}}
		<li>
		    <span class="title">{{#link-to 'templates.template' id}}{{title}}{{/link-to}}</span>
		    <span>by {{ user.name }}</span>
		    <span>on {{formatDate created "short"}}</span>	
		    <span>{{content}}</span>
		    <span>{{templateContent}}</span>
		</li>
	{{/each}}
	</ul>
</div>
