{{#each model}}
    {{#with pageContent}}
    <div id="myCarousel" class="carousel slide">
      <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide One');"></div>
            <div class="carousel-caption">
              <h1>Modern Business - A Bootstrap 3 Template</h1>
            </div>
          </div>
          <div class="item">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Two');"></div>
            <div class="carousel-caption">
              <h1>Ready to Style &amp; Add Content</h1>
            </div>
          </div>
          <div class="item">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Three');"></div>
            <div class="carousel-caption">
              <h1>Additional Layout Options at <a href="http://startbootstrap.com">http://startbootstrap.com</a></h1>
            </div>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="icon-next"></span>
        </a>
    </div>
    
    <div class="section">

      <div class="container">
        <div class="row">
          {{#each promo in promos3Columns}}
          <div class="col-lg-4 col-md-4">
            <h3><i {{bind-attr class="promo.icon"}}></i> {{promo.title}}</h3>
            <p>{{promo.text}}</p>
          </div>
          {{/each}}
        </div><!-- /.row -->

      </div><!-- /.container -->

    </div><!-- /.section -->

    <div class="section-colored text-center">

      <div class="container">

        <div class="row">
          <div class="col-lg-12">
            <h2>{{promoWide.title}}</h2>
            <p>{{promoWide.text}}</p>
            <hr>
          </div>
        </div><!-- /.row -->

      </div><!-- /.container -->

    </div><!-- /.section-colored -->

    <div class="section">

      <div class="container">

        <div class="row">
          <div class="col-lg-12 text-center">
            <h2>{{portfolioTitle}}</h2>
            <hr>
          </div>
          {{#each item in portfolio.items}}
            <div class="col-lg-4 col-md-4 col-sm-6">
              <h3>{{item.title}}</h3>
              {{#link-to 'catchall' link tagName='a'}}
                <a href="portfolio-item.html"><img class="img-responsive img-home-portfolio" {{bind-attr src="item.img"}}>
              {{/link-to}}
            </div>
          {{/each}}
        </div><!-- /.row -->

      </div><!-- /.container -->

    </div><!-- /.section -->

    <div class="section-colored">

      <div class="container">

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <h2>{{features.title}}</h2>
            <ul>
              {{#each feature in features.items}}
              <li>{{feature}}</li>
              {{/each}}
            </ul>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <img class="img-responsive" {{bind-attr src="features.img"}} >
          </div>
        </div><!-- /.row -->

      </div><!-- /.container -->

    </div><!-- /.section-colored -->

    <div class="container">

      <div class="row well">
        <div class="col-lg-8 col-md-8">
          <h4>{{cta.title}}</h4>
          <p>For more templates and more page options that you can integrate into this website template, visit Start Bootstrap!</p>
        </div>
        <div class="col-lg-4 col-md-4">
          <a class="btn btn-lg btn-primary pull-right" {{bind-attr href="cta.link"}}>
            {{cta.buttonText}}
          </a>
        </div>
      </div><!-- /.row -->

    </div><!-- /.container -->

<script type="text/javascript">
  // Activates the Carousel
  $('.carousel').carousel({
    interval: 5000
  })

  // Activates Tooltips for Social Links
  $('.tooltip-social').tooltip({
    selector: "a[data-toggle=tooltip]"
  })  
</script>
  {{/with}}
{{/each}}