<header class="navbar navbar-inverse navbar-fixed-bottom bs-docs-nav" role="banner">
  <div {{bind-attr class="controller.controllers.application.isMobile:mobile:desktop"}}  class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar" style="color: black;"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="../" class="navbar-brand">Public Nav</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        {{#each link in view.menu}}
        <li class="dropdown"> 
        {{#if link.submenu}}
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">                 
        {{link.title}}<b class="caret"></b></a>
        
          <ul class="dropdown-menu">
          {{#each subLink in link.submenu}}
              <li>
              {{#link-to subLink.link}}{{subLink.title}}{{/link-to}}           
              </li>
          {{/each}}
          </ul>
          {{else}}
            {{#link-to 'catchall' link.link}}{{link.title}}{{/link-to}}
          {{/if}}            
          </li>
        {{/each}}
      </ul> 
    </nav>
  </div>
</header>